// Colors

$blue: #1f78d1;
$crimson: #9e0e0e;
$light-grey: #999;
$white: #fff;

$border-color: $light-grey;
$primary-color: $blue;
$secondary-color: $crimson;

// Misc

$transition-speed: 0.25s;
$default-easing: ease-in-out;
