@charset "UTF-8";
[type="text"],
[type="submit"] {
  -webkit-appearance: none;
}

[type="text"] {
  border: 2px solid #999;
  font-size: 16px;
  height: 40px;
  margin-right: 15px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-transition: 0.25s border ease-in-out;
  transition: 0.25s border ease-in-out;
}

[type="text"]:focus, [type="text"]:active {
  border-color: #1f78d1;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

[type="submit"] {
  background-color: #1f78d1;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  height: 40px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-transition: 0.25s background-color ease-in-out;
  transition: 0.25s background-color ease-in-out;
}

[type="submit"]:hover, [type="submit"]:active {
  background-color: shade(#1f78d1, 0.25);
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
code,
em,
img,
small,
strong,
sub,
sup,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
footer,
header,
nav,
section,
time,
audio,
video {
  background: transparent;
  border: 0;
  font-size: 100%;
  font-weight: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

article,
aside,
figure,
footer,
header,
nav,
section {
  display: block;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
  overflow-y: scroll;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img,
object {
  max-width: 100%;
}

ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

input,
select {
  vertical-align: middle;
}

input[type='radio'] {
  vertical-align: text-bottom;
}

input[type='checkbox'] {
  vertical-align: bottom;
}

strong {
  font-weight: bold;
}

label,
input[type='file'] {
  cursor: pointer;
}

input,
select,
textarea {
  border-radius: 0;
  border: 0;
  margin: 0;
}

button,
input[type='button'],
input[type='submit'] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  border-radius: 0;
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

main {
  padding: 20px;
}

.element-remove {
  background-color: #9e0e0e;
  color: #fff;
  content: '×';
  cursor: pointer;
  float: right;
  font-size: 20px;
  height: 25px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  text-indent: -1px;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  width: 25px;
}

.element-remove:hover {
  background-color: shade(#9e0e0e, 0.25);
}

.pantry-list {
  float: left;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin: 20px 0;
}

.pantry-list li {
  float: left;
  width: 100%;
  border-top: 1px solid #999;
  font-size: 16px;
  padding: 10px 0;
  position: relative;
}

.pantry-list li:last-of-type {
  border-bottom: 1px solid #999;
}

.pantry-list [type="text"] {
  border: none;
  padding-left: 0;
  padding-right: 0;
  width: auto;
}
/*# sourceMappingURL=main.css.map */